.movie-title, .random-movie-title {
    font-size: 1em !important;
    font-weight: bold !important;
    padding: 5px !important;
    background-color: #007bff !important;
    color: #fff !important;
    text-align: center !important;
}
